<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[欢呼]</key>
	<dict>
		<key>CPCircleKeyFaceImagePreName</key>
		<string>Circle_face001_cheer</string>
		<key>CPCircleKeyFaceWidthFactor</key>
		<real>1</real>
		<key>CPCircleKeyFaceHeightFactor</key>
		<integer>1</integer>
	</dict>
	<key>[失落]</key>
	<dict>
		<key>CPCircleKeyFaceImagePreName</key>
		<string>Circle_face002_disappointed</string>
		<key>CPCircleKeyFaceWidthFactor</key>
		<real>1</real>
		<key>CPCircleKeyFaceHeightFactor</key>
		<integer>1</integer>
	</dict>
	<key>[恼火]</key>
	<dict>
		<key>CPCircleKeyFaceImagePreName</key>
		<string>Circle_face003_annoyed</string>
		<key>CPCircleKeyFaceWidthFactor</key>
		<real>1</real>
		<key>CPCircleKeyFaceHeightFactor</key>
		<integer>1</integer>
	</dict>
	<key>[惊吓]</key>
	<dict>
		<key>CPCircleKeyFaceImagePreName</key>
		<string>Circle_face004_frightened</string>
		<key>CPCircleKeyFaceWidthFactor</key>
		<integer>1</integer>
		<key>CPCircleKeyFaceHeightFactor</key>
		<integer>1</integer>
	</dict>
	<key>[发呆]</key>
	<dict>
		<key>CPCircleKeyFaceImagePreName</key>
		<string>Circle_face005_stunned</string>
		<key>CPCircleKeyFaceWidthFactor</key>
		<real>1</real>
		<key>CPCircleKeyFaceHeightFactor</key>
		<integer>1</integer>
	</dict>
	<key>[得意]</key>
	<dict>
		<key>CPCircleKeyFaceImagePreName</key>
		<string>Circle_face006_complacent</string>
		<key>CPCircleKeyFaceWidthFactor</key>
		<integer>1</integer>
		<key>CPCircleKeyFaceHeightFactor</key>
		<integer>1</integer>
	</dict>
	<key>[心痛]</key>
	<dict>
		<key>CPCircleKeyFaceImagePreName</key>
		<string>Circle_face007_heartbreak</string>
		<key>CPCircleKeyFaceWidthFactor</key>
		<integer>1</integer>
		<key>CPCircleKeyFaceHeightFactor</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
